<?xml version="1.0" encoding="UTF-8"?>
<actions>
  <action package="pt.up.fe.dceg.accu.SystemListPanel"></action>
  <action package="pt.up.fe.dceg.accu.StateViewPanel"></action>
  <action package="pt.up.fe.dceg.accu.EntityListPanel"></action>
  <action package="pt.up.fe.dceg.accu.PlanStatePanel"></action>
  <action package="pt.up.fe.dceg.accu.MapPanel"></action>
  <action package="pt.up.fe.dceg.accu.TeleOpPanel2"></action>
  <action package="pt.up.fe.dceg.accu.FinderPanel"></action>
  <action package="pt.up.fe.dceg.accu.BeaconCfgPanel"></action>
  <action package="pt.up.fe.dceg.accu.PreferenceAction"></action>
  <action package="pt.up.fe.dceg.accu.TeleOpSensorPanel"/>
  <action package="pt.up.fe.dceg.accu.TestPanel"/> 
</actions>
